################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs


/Ara2.AraWindow/Nuget/Ara2.AraWindow.*.nupkg
/Ara2.AraWindow/Ara2.AraWindow.csproj.user
/Ara2.AraWindow/bin
/Ara2.AraWindow/obj
/Ara2.AraWindow/bin
/Ara2.AraWindow/obj
/Ara2.AraWindow/bin
/Ara2.AraWindow/obj
